{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block title %}Redefinir Senha{% endblock %}

{% block layout %}
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center">Escolha sua Nova Senha</h2>
                <hr>
                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                        {% for error in form.password.errors %}
                            <span class="text-danger small">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.password2.label(class="form-label") }}
                        {{ form.password2(class="form-control") }}
                        {% for error in form.password2.errors %}
                            <span class="text-danger small">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock layout %}